{% extends 'blog/base.html' %} {% load static %} {% block title %}
<title>About</title>
{% endblock %} {% block content %}

<div class="cl-sm-10">
  <h3 class="text-white my-5">About page</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut veritatis illo
    blanditiis eos, quia expedita consectetur perferendis sed ut velit quae ab?
    Debitis id voluptatibus aliquid illo doloremque animi magni neque! Quam
    dicta deserunt illum, placeat, qui unde odio repudiandae in provident
    doloribus facilis dolor quo fugiat corporis quas numquam.
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum,
    perspiciatis molestiae. Mollitia hic fugit a et dignissimos facere cumque,
    magni vitae soluta nobis exercitationem unde esse repudiandae iste quasi
    officia earum aperiam tempore saepe maiores. Illum tenetur obcaecati quasi
    veritatis reiciendis. Reiciendis ab officia quisquam quia? Cum, sequi in
    cumque quia officia, natus quibusdam incidunt exercitationem iste ratione
    autem saepe quae repellat laborum veritatis quod. Ratione nihil sit alias
    dolores similique, nulla quibusdam tempore eveniet quia non eligendi
    repudiandae eaque dolorum ea quaerat suscipit doloremque, beatae culpa
    repellat sed, pariatur ex eum laudantium? Officia quae sit corporis deleniti
    ducimus saepe?
  </p>
</div>

{% endblock %}
