{% extends 'blog/base.html' %} {% load static %} {% block title %}
<title>Home</title>
{% endblock %} {% block content %}

<div class="cl-sm-10">
  <h3 class="text-white my-5">Home page</h3>
  <div class="list-group">
    <a
      href="#"
      class="list-group-item list-group-item-action active"
      aria-current="true"
    >
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1 fw-bold">This is the first Blog</h5>
        <small>3 days ago</small>
      </div>
      <p class="mb-1">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore odio
        commodi consequuntur cumque suscipit. Molestiae facere corrupti
        blanditiis repellat inventore quidem quas vitae, nam reiciendis,
        reprehenderit saepe quo fuga suscipit, harum temporibus! Facere quo
        iusto voluptatibus facilis placeat eius recusandae, maiores repellendus
        voluptatum nostrum, aliquam officia. Laudantium, explicabo. Sapiente,
        dolores!
      </p>
      <small>by Rohit bhat</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1 fw-bold">This is the second Blog</h5>
        <small class="text-body-secondary">3 days ago</small>
      </div>
      <p class="mb-1">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus,
        earum et maiores at labore aliquid, pariatur tenetur nihil velit autem
        atque? Est ipsa in magni accusamus amet, error ipsum quod.
      </p>
      <small class="text-body-secondary">by rahul_singh.</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1 fw-bold">This is the Third Blog</h5>
        <small class="text-body-secondary">3 days ago</small>
      </div>
      <p class="mb-1">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae
        dignissimos voluptatibus, eum doloremque laboriosam voluptates hic iusto
        sapiente tenetur maxime beatae unde voluptatum voluptatem natus ex
        cumque suscipit fugit laborum sunt. Eius ratione voluptas sit pariatur
        reiciendis. Saepe exercitationem nostrum veniam! Maxime assumenda hic
        corporis labore tenetur, amet culpa rerum impedit officia, nesciunt
        earum necessitatibus ipsum itaque iusto, omnis nostrum.
      </p>
      <small class="text-body-secondary">by raj</small>
    </a>
  </div>
</div>

{% endblock %}
