{% extends 'blog/base.html' %} {% load static %} {% block title %}
<title>Home</title>
{% endblock %} {% block content %}

<div class="cl-sm-10">
  <h3 class="text-white my-5">Home page</h3>
  {% for post in posts %}
  <div class="list-group my-2">
    
    <a href="#" class="list-group-item list-group-item-action my-2">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1 fw-bold">{{post.title}}</h5>
        <small class="text-body-secondary">3 days ago</small>
      </div>
      <p class="mb-1">
        {{post.desc}}
      </p>
      <small class="text-body-secondary">~{{full_name}} {% for group in gps %} <sub>{{group.name}}</sub>{% endfor %} </small>
    </a>
    
  </div>
  {% endfor %}
</div>

{% endblock %}
